/*ng-view animate*/
.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;

    display:block;
    width:100%;
    border-left:1px solid black;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.view-animate.ng-enter {
    transform: translate3d(100%,0,0);
    -webkit-transform:translate3d(100%,0,0) ;
}
.view-animate.ng-enter.ng-enter-active {
    transform: translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0) ;
}
.view-animate.ng-leave.ng-leave-active {
    transform: translate3d(-100%,0,0);
    -webkit-transform:translate3d(-100%,0,0) ;
}
/*ng-repeat animate*/
.own-list-animation.ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.own-list-animation.ng-enter-stagger {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration: 0;
    animation-duration: 0;
}
