.header {
    color: #ffffff;
    height: .5rem;
    width: 100%;
    line-height: .5rem;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    h3 {
        position: absolute;
        font-size: 0.17rem;
        color: #fff;
        text-align: center;
        display: inline-block;
        left: 50%;
        width: 200px;
        height: 0.5rem;
        line-height: 0.5rem;
        margin-left: -100px;
    }
    .icon-left-arrow {
        margin-left: .15rem;
    }
}
