@charset "utf-8";

/*strategyLIst*/

$fontSize: .17rem;
$color: #fff !default;
$top: .335rem;
$left: .15rem;
$blueColor: #BCD9E0;
$orangeColor: #e5c7ac;
$purpleColor: #b7b8e9;
.strategy-list-view {
    .header {
        background-color: #EC1919;
    }
    .main {
        padding-top: $header-height;
    }
    .tacticsList {
        text-align: center;
        height: 1.39rem;
        width: 100%;
        padding-top: .23rem;
        //opacity:0.8;
        .types {
            border-radius: .025rem;
            color: $color;
        }
        .news {
             width: 1.6rem;
             height: .3rem;
             margin: auto;
             line-height:.31rem;
             background: rgba(255, 255, 255, .36);
             border-radius: .3rem;
             text-align: left;
            .percentage {
                padding: 0 .1rem 0 .16rem;
            }
            b {
                display:inline-block;
                height:.13rem;
                margin:0 .05rem -.02rem 0;
                border-right: 1px solid #a6a9a8;
            }
        }
    }
     .listBg{
            opacity:0.8;
      }
    .technique{
        background: url(../../images/blue@2x.png) no-repeat center;
        background-size: cover;
        p.types {
            background: $blueColor;
        }
    }
    .basic{
        background: url(../../images/orage@2x.png) no-repeat center;
        background-size: cover;
        p.types {
            background: $orangeColor;
        }
    }
    .news-Trends {
        background: url(../../images/popl@2x.png) no-repeat center;
        background-size: cover;
        p.types {
            background: $purpleColor;
        }
    }
    .types {
        display:inline-block;
        min-width:.5rem;
        height: .18rem;
        line-height:.18rem;
        padding:0 .03rem;
        border-radius: .03rem;
        margin: 0 auto;
        font-size: .11rem;
    }
    .names {
        margin-top: .065rem;
        font-size: .19rem;
        font-weight: bold;
        color: #444;
        margin-bottom: .19rem;
    }

    .percentage {
        display:inline-block;
        width:.74rem;
        height:.3rem;
        text-align:center;

        font-size: .14rem;
        color:#666 ;
        font-weight: 600;
    }
    .up{
        color:#FC3F1D;
    }
    .drop{
        color:#0aB04A;
    }
    .addUp {

        color: #666;
        font-size: .13rem;
    }
}
